<style>
    td {
        padding-right: 20px;
    }
</style>

<table>
    <tr>
        <td><a asp-page="/Index">Home</a></td>
        <td><a asp-page="/Projetos/Index">Projetos</a></td>
        <td><a asp-page="/Sprints/Index">Sprints</a></td>
        <td><a asp-page="/Tarefas/Index">Tarefas</a></td>
        <td><a asp-page="/Clientes/Index">Clientes</a></td>
        <td><a asp-page="/Equipes/Index">Equipes</a></td>

    </tr>
</table>
